/**
 * @file 全局样式
 * @author svon.me@gmail.com
 */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


/** 全局样式 */

@import "@ue/modal/dist/index.css";

#gtx-trans {
  display: none !important;
}

:root {
  --screen-value: 100vh;
}

html, body {
  @apply min-h-screen;
}

h2 {
  // @apply max-w-80;
  @apply text-black;
}

img.no-drag {
  user-drag: none;
  @apply select-none;
  pointer-events: auto;
}

.ue-modal-main {
  .ant-modal-content {
    @apply p-0;
  }

  .ant-modal-confirm-content {
    max-width: 100% !important;
  }
}

/* 富文本 */
.tiptap-box {
  img {
    max-width: 100%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68CEF8;
    }
  }
}